// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

h1 
{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
  }

  h2
{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkkhaki;
    color: darkred;
  }